'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Regex-Tester'
      'submenu': [
        {
          'label': 'Show'
          'command': 'regex-tester:show'
        },
        {
          'label': 'Hide'
          'command': 'regex-tester:hide'
        }
      ]
    ]
  }
]
