@import "ui-variables";

.regex-tester {
  .body {
    margin: 5px 0 0 0;
    max-height: 700px;
    overflow-y: scroll;
  }

  .bold {
    font-weight: bold;
  }

  .header {
    border: 1px solid @tab-bar-background-color;
    background-color: @tool-panel-background-color;
    display: flex;
    margin: 0 0 5px 0;
  }

  .name {
    cursor: default;
    height: @component-icon-size;
  }

  .output {
    margin: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    background-color: @input-background-color;

    .match {
      margin: 2px 1px 2px 1px;
      padding: 2px;
      background-color: @overlay-background-color;

      .key {
        font-weight: bold;
      }
    }
  }

  .hidden {
    display: none;
  }

  .block {
    margin: 5px 0 5px 0;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .flex-editor {
    flex: 1;
  }

  .editor-item {
    padding: 0 5px 0 5px;
  }

  .btn-group {
    flex: none;
    height: 2.5em;
    display: flex;
    padding: 0 5px 0 5px;

    .btn {
      flex: 1;
    }
  }

  .error {
    color: @text-color-error;
  }
}
